.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title-posit {
  margin-bottom: 72px;
}
.card-title-posit {
  margin-bottom: 8px;
}

.logo {
  display: inline-block;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--subsid-color);
  margin-right: 76px;
}
.logo-valut {
  margin-bottom: 16px;
}

.logo-ligh {
  color: var(--ancillary-color);
}

.logo-dark {
  color: var(--log-stud-col);
}

:root {
  --subsid-color: #4d5ae5;
  --logo-font: "Raleway", sans-serif;
  --dark-bgr: #2e2f42;
  --ancillary-color: #2e2f42;
  --backgr-color: #ffffff;
  --log-stud-col: #f4f4fd;
  --body-color: #434455;
  --backgr-btn: #404bbf;
  --fold-btn-color: #e7e9fc;
  --frame-custom-color: #8e8f99;
  --hfsoc-valut: #31d0aa;
  --modal-color: #fcfcfc;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: var(--backgr-color);
  color: var(--body-color);
}

.page-header {
  background-color: color #e7e9fc;
  display: flex;
  border-bottom: 1px solid #e7e9fc;
  position: relative;
  color: var(--backgr-btn);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--ancillary-color);
  padding: 0 15px;
  display: block;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--backgr-btn);
}

.menu-link.active {
  color: var(--backgr-btn);
}

.menu-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--backgr-btn);
}

.contacts {
  font-style: normal;
  line-height: 1.5;
  margin-left: auto;
}

.page-contact {
  display: flex;
  gap: 40px;
}

.contact-mt {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--body-color);
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-mt:hover,
.contact-mt:focus {
  color: var(--backgr-btn);
}

.order-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  display: block;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: var(--backgr-color);
  padding: 16px 32px;
  min-width: 169px;
  background: var(--subsid-color);
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover,
.order-btn:focus {
  background-color: var(--backgr-btn);
  border: none;
}

.designation {
  max-width: 1440px;
  background-color: var(--ancillary-color);
  padding: 188px 0;
  margin: 0 auto;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.designation-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--backgr-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.advantage {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantage-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--ancillary-color);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.advantage-list {
  display: flex;
  gap: 24px;
}

.adv-qual {
  justify-content: left;
  width: calc((100% - 72px) / 4);
}

.title-adv {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--ancillary-color);
  margin-bottom: 8px;
}
.defin-adv {
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.frame-adv-icon {
  display: flex;
  background-color: var(--log-stud-col);
  justify-content: center;
  align-items: center;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
}

.ourwork {
  padding-bottom: 120px;
}

.ourwork-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--ancillary-color);
}

.ourwork-list {
  display: flex;
  gap: 24px;
}
.ourwork-art {
  width: calc((100% - 48px) / 3);
}

.employ {
  background-color: var(--log-stud-col);
  padding: 120px 0;
}

.employ-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--ancillary-color);
}

.employ-list {
  display: flex;
  gap: 24px;
  background-color: var(--log-stud-col);
}

.employ-item {
  background-color: var(--backgr-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.empl-card {
  padding: 32px 0;
}

.empl {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--ancillary-color);
  text-align: center;
}
.empl-prof {
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-align: center;
}

.empl-soc-posit {
  display: flex;
  gap: 24px;
  margin-top: 8px;
  justify-content: center;
}

.empl-links {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.empl-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--subsid-color);
}

.empl-links:hover,
.empl-links:focus {
  background-color: var(--backgr-btn);
}

.empl-icon {
  fill: var(--log-stud-col);
  width: 16px;
  height: 16px;
}

/* CUSTOM */

.custom {
  padding: 120px 0;
}

.custom-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--ancillary-color);
  margin-bottom: 72px;
}

.list-custom-icon {
  display: flex;
  gap: 24px;
}

.list-custom-point {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.link-custom-point {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--frame-custom-color);
  width: 100%;
  height: 100%;
  border: 1px solid var(--frame-custom-color);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-icon {
  fill: currentColor;
  width: 104px;
  height: 56px;
}

.link-custom-point:hover,
.link-custom-point:focus {
  color: var(--backgr-btn);
  border: 1px solid var(--backgr-btn);
}

/* VALUT */

.vault-container {
  display: flex;
  justify-content: flex-start;
  /* gap: 120px; */
  align-items: baseline;
}

.vault-list {
  margin-right: 120px;
}

.vault {
  background: var(--dark-bgr);
  padding: 100px 0;
}

.vault-txt {
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--log-stud-col);
  width: 264px;
}

.valut-soc {
  margin-right: 80px;
}

.vault-soc-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--backgr-color);

  margin-bottom: 16px;
}

.valut-soc-posit {
  display: flex;
  gap: 16px;
}

.valut-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--subsid-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.valut-links:hover,
.valut-links:focus {
  background-color: var(--hfsoc-valut);
}

.valut-icon {
  fill: var(--log-stud-col);
  width: 24px;
  height: 24px;
}

.vault-sub {
  display: flex;
  flex-direction: column;
}

.valut-form {
  display: flex;
  gap: 24px;
}

.valut-form-label {
}

.valut-form-cont {
  width: 453px;
}

.vault-sub-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--backgr-color);
  margin-bottom: 16px;
}

.valut-input {
  border: 1px solid var(--backgr-color);
  background-color: transparent;
  width: 264px;
  height: 40px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: var(--backgr-color);
}

.valut-form-label ::placeholder {
  color: var(--backgr-color);
}

.valut-input-btn {
  background-color: var(--subsid-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 165px;
  height: 40px;
  color: var(--backgr-color);
  padding: 0px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.valut-input-btn:hover,
.valut-input-btn:focus {
  background-color: var(--backgr-btn);
}

.subscribe-icon {
  margin-left: 16px;
  fill: var(--backgr-color);
}

/* modal window */

.modal-shell {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-w {
  padding: 72px 24px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: var(--modal-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-w {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--fold-btn-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-w:hover,
.close-modal-w:focus {
  fill: var(--backgr-color);

  background-color: var(--backgr-btn);
  border: none;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon:hover,
.modal-close-icon:focus {
  fill: var(--backgr-color);
  border: none;
}
.modal-title {
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--ancillary-color);
  margin-bottom: 16px;
}
.modal-form {
}
.modal-form-cont {
  margin-bottom: 8px;
}
.modal-form-label {
  line-height: 1.17;
  letter-spacing: 0.04em;
  font-size: 12px;
  color: var(--frame-custom-color);
  display: block;
  margin-bottom: 4px;
}

.modal-input-cont {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
  border-color: var(--subsid-color);
}

.modal-input:hover + .modal-icon-user,
.modal-input:focus + .modal-icon-user {
  fill: var(--subsid-color);
}

.modal-icon-user:hover + .modal-input,
.modal-icon-user:focus + .modal-input {
  fill: var(--subsid-color);
  border-color: var(--subsid-color);
}

.modal-icon-user {
  transform: translateY(-50%);
  position: absolute;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  left: 16px;
  top: 50%;
}

.modal-form-comment {
  margin-bottom: 16px;
}

.modal-textarea {
  height: 120px;
  border-radius: 4px;
  line-height: 1.17;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 100%;
  color: rgba(46, 47, 66, 0.4);
  letter-spacing: 0.04em;
  background-color: transparent;
  font-size: 12px;
  outline: transparent;
  resize: none;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:hover,
.modal-textarea:focus {
  border-color: var(--subsid-color);
}

.modal-textarea:hover::placeholder {
  color: var(--subsid-color);
}

.modal-chek {
  margin-bottom: 24px;
}

.modal-chek-input:checked + .modal-chek-label > .modal-chek-span {
  background-color: var(--backgr-btn);
  border: none;
  fill: var(--log-stud-col);
}
.modal-chek-label {
  letter-spacing: 0.04em;
  line-height: 1.17;
  font-size: 12px;
  color: var(--frame-custom-color);
}
.modal-chek-span {
  display: inline-flex;
  align-items: center;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  justify-content: center;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}
.modal-chek-icon {
}

.modal-chek-link {
  color: var(--subsid-color);
}
.modal-btn-send {
  font-family: "Roboto", sans-serif;
  display: block;
  height: 56px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: #ffffff;
  border-radius: 4px;
  font-size: 16px;
  border: none;
  font-weight: 500;
  cursor: pointer;
  min-width: 169px;
  background-color: var(--subsid-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*Portfolio*/

.guide-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--subsid-color);
  background-color: var(--log-stud-col);
  padding: 12px 24px;
  text-align: center;
  letter-spacing: 0.04em;
  border: 1px solid var(--fold-btn-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.guide-btn:hover,
.guide-btn:focus {
  border: 1px solid transparent;
  color: var(--backgr-color);
  background-color: var(--backgr-btn);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.specification {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--ancillary-color);
}

.specification-p {
  letter-spacing: 0.02em;
  color: var(--body-color);
  line-height: 1.5;
}

.btn-list {
  display: flex;
  margin-bottom: 72px;
  justify-content: center;
  gap: 24px;
}

.all-cont {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.all-cont-link {
  display: block;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.all-cont-link:hover,
.all-cont-link:focus {
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.img-box {
  position: relative;
  overflow: hidden;
}

.img-box-txt {
  font-size: 16px;
  position: absolute;
  line-height: 1.5;
  top: 0;
  letter-spacing: 0.02em;
  color: var(--log-stud-col);
  background-color: var(--subsid-color);
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.all-cont-link:is(:hover, :focus) .img-box-txt {
  transform: translateY(0);
}
.frame {
  border: 1px solid var(--fold-btn-color);
  border-top: none;
  padding: 32px 16px;
}
.fold {
  padding-top: 96px;
  padding-bottom: 120px;
}
